<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyecto_app">
    <!-- Permisos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="¿Qué plan?"
        android:roundIcon="@drawable/queplancircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_app"
        tools:targetApi="31">
        <activity
            android:name=".splash"
            android:theme="@style/SplashScreenTheme"
            />

        <!-- Actividad de inicio de sesión -->
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Otras actividades -->
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.Proyecto_app" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".resenasActivity"
            android:exported="false" />
        <activity
            android:name=".my_profiles"
            android:exported="true" />
        <activity
            android:name=".place_review"
            android:exported="true" /> <!-- Clave de API de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD79JPHOIK6zHY_l6pIYGT2TH4ZR2wrWvc" />
    </application>

</manifest>